@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/* ::-webkit-scrollbar{
    display: none;
} */
.white{
    color: white;
}
.red{
    color: red;
}
.light-gray{
    color: lightgray;
}
.bg-white{
    background-color: white;
}
.transition{
    transition: .5s ease;
}
.list-style-none{
    list-style: none;
}
.display-flex{
    display: flex;
}
.display-block{
    display: block;
}
.display-none{
    display: none;
}
.aling-center{
    align-items: center;
}
.aling-end{
    align-items: end;
}
.aling-start{
    align-items: start;
}
.space-between{
    justify-content: space-between;
}
.space-around{
    justify-content: space-around;
}
.space-evenly{
    justify-content: space-evenly;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-decoration-none{
    text-decoration: none;
}
.text-shadow{
    text-shadow: 1px 1px 10px black;
}
.w-100{
    width: 100%;
}
.bg-blue{
    background-color: royalblue;
}
.p-1{
    padding: 1em;
}
.m-0{
    margin: 0;
}
.m-1{
    margin: 1em;
}
.ml-1{
    margin-left: 1em;
}
.mr-1{
    margin-right: 1em;
}
.mr-2{
    margin: 2em;
}
.font-system{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.font-sans{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.font-lobster{
    font-family: "Lobster Two", sans-serif;
}
.font-nunito{
    font-family: "Nunito", sans-serif;
}
.bold{
    font-weight: bold;
}
.size-large{
    font-size: larger;
}
.pointer{
    cursor: pointer;
}
.absolute{
    position: absolute;
}
.relative{
    position: relative;
}
.fixed{
    position: fixed;
}
.hidden{
    overflow: hidden;
}
.hover-scale:hover{
    transform: scale(1.1);
    transition: .5s ease;
}

/*Home*/
.title-banner{
    z-index: 0;
    top: 2em;
    margin-left: 2em;
    font-size: 2.5em;
}
.button-mat {
    margin-top: -15em;
    margin-left: 16.5em;
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
}
.button-mat:hover {
    letter-spacing: 3px;
    background-color: #fce113;
    color: hsl(0, 0%, 100%);
    box-shadow: #ffc71b 0px 7px 29px 0px;
}
.button-mat:active {
    letter-spacing: 3px;
    background-color: #fce113;
    color: hsl(0, 0%, 100%);
    box-shadow: #ffc71b 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}
.wave-fachada {
    position: absolute;
    bottom: -160px;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(imgs/wave.png);
    background-repeat: no-repeat;
}
.sombra{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.793));
}
.bienvenida img{
    width: 22em;
    padding: 2em;
    margin-left: 4em;
    float: left;
}
.text-bienvenida{
    padding: 3em;
    margin-top: 1em;
    font-size: 1.1em;
    margin-right: 4em;
    margin-left: 4em;
}
.section{
    margin: auto;
    width: 99%;
    text-align: center;
}
.title_section{
    display: inline;
    cursor: pointer;
    position: relative;
    font-size: 2em;
    margin: auto;
    padding-bottom: 5px;
}
.title_section::after {
    content: '';
    border-bottom: 5px solid #fce113;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}
.title_section:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.card-nvl p {
    text-align: left;
    font-size: 1.4em;
    font-weight: 400;
    line-height: 20px;
    color: #131313;
}
.card-nvl p.small {
  font-size: 1em;
}
.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  border-radius: 0 4px 0 32px;
}
.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}
.card1 {
  display: block;
  position: relative;
  max-width: 28em;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 1em;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid rgba(128, 128, 128, 0.509);
}
.orange:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #ec8a24;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}
.green:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #81bb27;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
}
.blue:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #346aab;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
}
.card1:hover:before {
  transform: scale(28);
}
.card1:hover p {
  transition: all 0.3s ease-out;
  color: #ffffff;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.597);
}
.card1:hover h3 {
  transition: all 0.3s ease-out;
  color: #fff;
}
.slider {
    position: relative;
    margin: auto;
    height: 46em;
    width: 100%;
    overflow: hidden;
}
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.slide {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
    display: none;
}

.slide.active {
    display: block;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.btn {
    position: relative;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: rgb(98, 98, 98) 0px 4px 0px 0px;
    padding: 5px;
    background-repeat: no-repeat;
    cursor: pointer;
    box-sizing: border-box;
    width: 154px;
    height: 45px;
    color: blue;
    border: none;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    overflow: hidden;
    margin-left: -12em;
  }
  
  .btn::before {
    content: "";
    background-color: rgb(201, 201, 201);
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 700ms ease-in-out;
    display: inline-block;
  }
  
  .btn:hover::before {
    width: 100%;
  }
  

/*Profesores*/
.title-banner-docentes{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}
.wave {
    position: absolute;
    bottom: -340px;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(imgs/wave.png);
    background-repeat: no-repeat;
}
.card {
    position: relative;
    margin: .4em;
    width: calc(19em - 1em);
    height: 10em;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}
.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.318);
  border-radius: 10px;
  background-color: #ffffff;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card:hover .card__content {
  transform: rotateX(0deg);
}
.card__title {
  color: #333;
}
.card:hover svg {
  scale: 0;
}
.card__description {
  margin: 10px 0 0;
  color: #777;
}
.cont-cards-docentes-inicial{
    width: 99%;
    margin: auto;
    margin-top: 2em;
    position: relative;
    flex-wrap: wrap;
}
.cont-cards-docentes-primaria{
    width: 99%;
    margin: auto;
    margin-top: 2em;
    position: relative;
    flex-wrap: wrap;
}
.cont-img {
    position: relative;
}

/*Contactanos*/
.form {
  margin: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  width: 500px;
  background-color: white;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(31, 31, 31, 0.213);
  border: 1px solid rgba(128, 128, 128, 0.345);
}

.form .title {
  color: royalblue;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form input {
  outline: 0;
  border: 1px solid rgb(219, 213, 213);
  padding: 8px 14px;
  border-radius: 8px;
  width: 100%;
  height: 50px;
}

.form textarea {
  border-radius: 8px;
  height: 200px;
  width: 100%;
  resize: none;
  outline: 0;
  padding: 8px 14px;
  border: 1px solid rgb(219, 213, 213);
}

.form button {
  align-self: flex-end;
  padding: .8em;
  outline: 0;
  border: 0;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  background-color: royalblue;
  color: #fff;
  cursor: pointer;
}
    